<script src="https://giscus.app/client.js"
        data-repo="rstraub/rstraub.github.io"
        data-repo-id="R_kgDOPNGTgQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOPNGTgc4CtzB3"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Giscus.</a>
</noscript>